<h1>
  Edit item
</h1>

<hr class ="border-info">

<form action="/update_item/<%= @item.id %>" method="post">

  <div class="form-group">
    <label for="item">
      Item Description
    </label>

    <input type="text" id="item" name="item" class="form-control border-info" value="<%= @item.item %>">
  </div>

  <div class="form-group">
    <label for="quantity">
      Quantity
    </label>

    <input type="integer" id="quantity" name="quantity" class="form-control border-info" value="<%= @item.quantity %>">
  </div>

  
  <div class="form-group">

    
    <input type="hidden" name = "trip_id" value = "<%=@item.trip_id%>">
  </div>

  <button class="btn btn-block btn-outline-info">
    Update item
  </button>
</form>

<hr class ="border-info">

<a href="/trips/<%=@item.trip_id%>">
  Go back
</a>
