<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <center>
      <%= @trip.destination + " " + @trip.duration.to_s + "-day " + @trip.season.capitalize + " Vacation" %> 
    </center>
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/trips" class="btn btn-block btn-outline-info">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/trips/<%= @trip.id %>/edit" class="btn btn-block btn-outline-info">
          Edit trip
        </a>
      </div>

      <div class="col">
        <a href="/delete_trip/<%= @trip.id %>" class="btn btn-block btn-outline-info">
          Delete trip
        </a>
      </div>
    </div>




  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr class="table-info">
        <th>
          <center>
         Where to
         </center>
        </th>

        <th>
          <center>
          How long
          </center>
        </th>

        <th>
          <center>
          Local Weather
           </center>
        </th>
        </tr>

      <tr>
        
        <td>
          <center>
        <%= @trip.destination.capitalize %>
      </center>
      </td>
      
      <td>
        <center>
        <%= @trip.duration %>
        </center>
      </td>
      
      <td>
        <center>
        <%= @trip.season.capitalize %>
        </center>
      </td>
        
      </tr>
      </table>
      </div>
    </div>

 
       

      

      <td>
        <!-- Code for Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB_nAWVr-18Oi_XoadzVHmNT2vevvJfev4"></script>
<script>
  var map;
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%=@latitude%>, <%=@longitude%>);
    var mapOptions = {
      zoom: 15,
      center: myLatlng
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Statue of Liberty'
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas" style="width: 100%; height: 400px"></div>

      </td>

      
      
      
      <dt>
        

      

<div class="card mt-4" >
  <div class="card border-info">
  <div class="card-header bg-white ">
    <center>
    Packing List
    </center>
  </div>
  </div>
 
  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      
      <tr class=>
        
        <th>
          <center>
         Packed
         </center>
        </th>
        <th>
          <center>
         Item
         </center>
        </th>

        <th>
          <center>
          Quantity
          </center>
        </th>

        <th>
          <center>
          Edit
          </center>
        </th>
        
        <th>
          <center>
          Delete
          </center>
        </th>
      </tr>
      
    <tr>
   
  

     
     
  
  
  

    
  <ul class="list-group list-group-flush">
    
    <%PackingList.where(trip_id: @trip.id).where("quantity > ?", 0).each do |item|%>
      
      <td>
        <center>
        
        <%if item.packed == false %>
        <form action ="/create_check/<%=item.id%>/edit" method ="post">
          <div class="form-group">
        <input type="checkbox" name="packed" value="true"><br>
         <input type="hidden" name="item" value="<%= item.item %>">
          <input type="hidden" name="quantity" value="<%= item.quantity %>">  
          <input type="hidden" name="trip_id" value="<%= item.trip_id %>"> 
          <input type="hidden" name="user_created" value="<%= item.user_created %>"> 
          <input type="submit" value="Submit">

        </form>
        
        <%else%>
         <form action ="/delete_check/<%=item.id%>/edit" method ="post">
               <div class="form-group">
        
        <input type="checkbox" name="packed" value="false" checked><br>
         <input type="hidden" name="item" value="<%=item.item %>">
          <input type="hidden" name="quantity" value="<%=item.quantity %>">  
          <input type="hidden" name="trip_id" value="<%= item.trip_id %>"> 
        <input type="hidden" name="user_created" value="<%= item.user_created %>"> 
          <input type="submit" value="Submit">
          </form>

      <%end%>
       
       </center>
           </td>
        
        
        
  
    
 
        <td>
          <center>
      <%=item.item%>
      </center>
       </td>

        <td>
   <center>
    <%=item.quantity%>
    </center>
    </td>
    
    
    <td>
      <center>
            <a href="/update_item/<%= item.id %>/edit">
            Edit
          </a>
          </center>
           </td>
          
          
           <td>
             <center>
          <a href="/delete_item/<%= item.id %>">
            Delete 
            </center>
          </a>
            
    
    </tr>
    </li>
    <%end%>
  </ul>




</table>
</div>
</div>
</div>


    </dd>

      <dt >
        
    <div class="card mt-4" >
    <div class="card border-info rounded">
    <div class="card-header bg-white">





      <center>
    Add a new item to the packing list
    </center>

    
  </div>
  </div>
  </div>
  

 <ul class = "list-group">
  <li class = "list-group-item">


 <form action="/create_item" method = "post">
  <!-- Label and input for title -->
  
     
   
  <div class="form-group" >
    <label for="item">
      Item Description
    </label>

    <input type="text" id="item" name="item" class="form-control" placeholder = "I want to pack this">
  </div>

 <div class="form-group">
    <label for="quantity">
      Quantity
    </label>

  <input type="integer" id="quantity" name="quantity" class="form-control" placeholder = "How many?">
  </div>
   
   <input type="hidden" name = "trip_id" value = "<%=@trip.id%>">
   
   
   
 <button class="btn btn-block btn-outline-info border-secondary">
    Add item
  </button>
</form>

     <dd>
      </dd>
      
    </dl>
  </div>
</div>

